.loader {
  position: fixed;

  /* transform: translate(50%, 50%); */
  /* top: 50%;
  left: 50%; */
}

.loaderBg {
  background-color: rgb(155, 154, 154, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
